#exzoom {
    width: 360px;
    /*height: 400px;*/
}

.container_product {
    /* margin: 150px auto; */
    max-width: 960px;
}

.hidden {
    display: none;
}

/* @media screen and (max-width: 480px) { */
    .padding-right {
        padding-left: 0;
    }
/* } */